
# no compiled stuff
**/__pycache__
.pytest_cache

# no documentation artefacts 
*/~*.pptx

#no test artefacts
stubs/**/frzmpy_pkg*
stubs/**/*_test.py*

# exclude ulab/user module to allow this to be stubbed on a specific firmware
stubs/micropython-ulab/ulab/user/__init__.pyi

